@import "./_reset.css";
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Hind Madurai", sans-serif;
  background-color: #0be881;
}

.moving__text {
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Antic Slab";
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  background-color: black;
  color: white;
}

.moving__text:hover {
  background-color: #ffd32a;
}
.moving__text span {
  font-size: 25px;
  animation: movingText 3s linear infinite;
}

@keyframes movingText {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0px);
  }
}
.movie__container {
  padding: 20px 60px;
}

.fight__container {
  display: flex;
}

header {
  /* font-family: "Antic Slab", serif; */
  font-size: 14px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  padding: 1px 30px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
li:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 3px 5px #ffd32a;
}

.list__logo a:link,
.list__logo a:visited {
  color: black;
  text-decoration: none;
}
.list__link a:link,
.list__link a:visited {
  color: black;
  text-decoration: none;
}
